{% extends 'layout.html.twig' %}

{% block body %}
<section class="section-padding blog-section">
    <div class="container">
        <div class="text-center">
          {% if error %}
          <div class="container d-flex align-items-center justify-content-center alert alert-danger">{{error}}</div>
          {% elseif success %}
          <div class="container d-flex align-items-center justify-content-center alert alert-success">{{success}}</div>
          {% endif %}          
            <div class=" d-flex  align-items-center justify-content-center">
                <form class="p-4 p-md-5 border rounded-3 bg-light" action="" method="post">
                    <h2 class="mb-4">Mot de passe oublié</h2>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="username" name="username" placeholder="Nom d'utilisateur" required>
                      <label for="username">Nom d'utilisateur</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Envoyer</button>
                    <hr class="my-4">
                    <div class="text-center">
                      <a href="/connexion">Se connecter</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section>  
{% endblock %}